body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#task-form {
    margin: 20px auto;
    width: 50%;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#add-task-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#task-list li:last-child {
    border-bottom: none;
}